<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>org.marrin.etherclock.infoDaemon</string>
	<key>Program</key>
	<string>/Users/cmarrin/Library/Application Support/etherclock/infoDaemon.py</string>
	<key>RunAtLoad</key>
	<true/>
	<key>WorkingDirectory</key>
	<string>/Users/cmarrin/Library/Application Support/etherclock</string>
</dict>
</plist>
